<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renkataoka.dubugger">

    <application>
        <activity android:name=".module.main.router.MainRouterTest$MockActivity" />
        <activity android:name=".module.rubberduck.view.RubberDuckActivityWithMock" />
    </application>
</manifest>